body {
    background-color: black;
    color: white;
}

#bannerhead {
    text-align: center;
    background-color: red;
    padding-bottom: 5em;
}

#main-container {
    text-align: center;
    background-color: blue;
}

#scores-container {
    text-align: center;
    background-color: green;
}
